[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/philjackson/magit.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "packages/gist.el"]
	path = packages/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "packages/rspec-mode"]
	path = packages/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "packages/emms"]
	path = packages/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "packages/cucumber.el"]
	path = packages/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "packages/emacs-rails-reloaded"]
	path = packages/emacs-rails-reloaded
	url = git://github.com/hron/emacs-rails-reloaded.git
[submodule "packages/rhtml-mode"]
	path = packages/rhtml-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "packages/zencoding"]
	path = packages/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "packages/regex-tool"]
	path = packages/regex-tool
	url = git://github.com/kavu/regex-tool.git
[submodule "packages/jd-el"]
	path = packages/jd-el
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule "packages/google-maps"]
	path = packages/google-maps
	url = git://git.naquadah.org/google-maps.git
[submodule "packages/rainbow-mode"]
	path = packages/rainbow-mode
	url = git://git.naquadah.org/rainbow.git
[submodule "packages/coffee-mode"]
	path = packages/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "packages/google-weather-el"]
	path = packages/google-weather-el
	url = git://git.naquadah.org/google-weather-el.git
[submodule "packages/jump"]
	path = packages/jump
	url = http://github.com/eschulte/jump.el.git
[submodule "packages/sinasi"]
	path = packages/sinasi
	url = http://github.com/nrr/sinasi.git
[submodule "packages/php-mode"]
	path = packages/php-mode
	url = git://github.com/emacsmirror/php-mode.git
[submodule "packages/swank-clojure"]
	path = packages/swank-clojure
	url = http://github.com/jochu/swank-clojure.git
[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = http://github.com/jochu/clojure-mode.git
[submodule "packages/smooth-scroll"]
	path = packages/smooth-scroll
	url = git://github.com/k-talo/smooth-scroll.el.git
[submodule "packages/magithub"]
	path = packages/magithub
	url = git://github.com/nex3/magithub.git
[submodule "packages/smex"]
	path = packages/smex
	url = git://github.com/nonsequitur/smex.git
