[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/philjackson/magit.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "packages/gist.el"]
	path = packages/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "packages/rspec-mode"]
	path = packages/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "packages/emms"]
	path = packages/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "packages/cucumber.el"]
	path = packages/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
